@mixin fullscreen {
  position: fixed;
  z-index: 2002;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  max-width: 100%;
}

/* 分屏 */
.screen-container {
  flex: 1;
  // display: flex;
  // flex-direction: column;
  position: relative;

  .screen-grid-wrap {
    display: flex;
    flex-grow: 1;
  }

  /* 分屏网格布局 */
  .screen-grid {
    position: relative;
    flex-grow: 1;
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    display: grid;

    &.screen-size--1 {
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      grid-template-areas: 'item0';
    }

    &.screen-size--2 {
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%;
      grid-template-areas: 'item0 item1';
    }

    &.screen-size--3 {
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-rows: 100%;
      grid-template-areas: 'item0 item1 item2';
    }

    &.screen-size--4 {
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-template-areas:
        'item0 item1'
        'item2 item3';
    }

    &.screen-size--9 {
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-rows: 33.33% 33.33% 33.33%;
      grid-template-areas:
        'item0 item1 item2'
        'item3 item4 item5'
        'item6 item7 item8';
    }

    &.screen-size--16 {
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
      grid-template-areas:
        'item0 item1 item2 item3'
        'item4 item5 item6 item7'
        'item8 item9 item10 item11'
        'item12 item13 item14 item15';
    }

    &.screen-size--32 {
      grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
      grid-template-rows: 25% 25% 25% 25%;
      grid-template-areas:
        'item0 item1 item2 item3 item4 item5 item6 item7'
        'item8 item9 item10 item11 item12 item13 item14 item15'
        'item16 item17 item18 item19 item20 item21 item22 item23'
        'item24 item25 item26 item27 item28 item29 item30 item31';
    }

    &.screen-size--1_3 {
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-rows: 33.33% 33.33% 33.33%;
      grid-template-areas:
        'item0 item0 item0'
        'item0 item0 item0'
        'item1 item2 item3';
    }

    &.screen-size--1_5 {
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-rows: 33.33% 33.33% 33.33%;
      grid-template-areas:
        'item0 item0 item1'
        'item0 item0 item2'
        'item3 item4 item5';
    }

    &.screen-size--1_7 {
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
      grid-template-areas:
        'item0 item0 item0 item1'
        'item0 item0 item0 item2'
        'item0 item0 item0 item3'
        'item4 item5 item6 item7';
    }

    &.screen-size--1_15 {
      grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
      grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
      grid-template-areas:
        'item0 item0 item0 item0 item0 item0 item0 item1'
        'item0 item0 item0 item0 item0 item0 item0 item2'
        'item0 item0 item0 item0 item0 item0 item0 item3'
        'item0 item0 item0 item0 item0 item0 item0 item4'
        'item0 item0 item0 item0 item0 item0 item0 item5'
        'item0 item0 item0 item0 item0 item0 item0 item6'
        'item0 item0 item0 item0 item0 item0 item0 item7'
        'item8 item9 item10 item11 item12 item13 item14 item15';
    }
  }

  /* 分屏 */
  .screen-item {
    display: flex;
    flex: 1 0 50%;
    position: relative;
    background: #333;
    border: 0.5px solid #444;
    justify-content: center;
    align-items: center;

    .video-type-label {
      position: absolute;
      z-index: 10;
      color: #fff;
      border: 1px solid #fff;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      bottom: 50px;
      left: 10px;
      opacity: 0.9;
      font-size: 11px;
      padding: 3px 5px;
    }

    .player__wrap--hidden .video-type-label {
      bottom: 10px;
    }

    .tip-select-device .el-button--text {
      color: #fff;
    }

    &.actived {
      border-color: $primary;
      border-width: 1px;

      .tip-select-device .el-button--text {
        color: $primary;
      }
    }

    .tip-text {
      color: #fff;
      max-width: 100%;
      overflow: hidden;
    }

    .vss-player__wrap {
      width: 100%;
      height: 100%;
    }

    &--fullscreen {
      @include fullscreen();

      border: none;
    }

    &--replay.screen-item--fullscreen {
      height: calc(100% - 108px);
    }

    &--replay {
      .video-type-label {
        bottom: 95px;
      }
    }

    /* 微屏模式隐藏工具栏 */
    .player__wrap--right-hidden {
      .datepicker, .replay-type, .axis__zoom {
        display: none;
      }
    }
  }

  // .screen-grid.dragging-node {
  //   .screen-item:hover {
  //     background: #4a4541;
  //   }
  // }
  
  .screen-item.drag-hover {
    background: #4a4541;
  }


  /* 录像回放列表模式 */
  .screen-list {
    position: absolute;
    top: 0;
    bottom: 40px;
    right: 0;
    left: 0;
    overflow: auto;
    padding: 15px;
    background: #fff;

    .tip-select-device {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -35px;
    }

    .el-table__fixed-right-patch {
      background: $color-grey-8;
    }
  }

  /* 分屏工具栏 */
  .screen-tools {
    background-color: #fff;
    height: 108px;

    &__bar {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $borderGrey;
      padding-top: 2px;

      &__left,
      &__right {
        display: flex;
        margin: 0 5px;
      }
    }

    &__btn {
      display: flex;
      padding: 0 3px;
      margin: 0 3px;
      height: 35px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;

      svg {
        width: 16px !important;
        height: 16px !important;
      }

      &.selected {
        color: $primary;
      }

      &:hover,
      &:focus {
        background: none;
      }
    }
  }
  
  .screen-list + .screen-tools.hidden-axis {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
  }

  &--live {
    .screen-item--replay.screen-item--fullscreen {
      height: 100%;
    }

    .screen-item--replay .player__wrap.player__wrap--right-offset {
      .control {
        height: 73px !important;
      }

      .datepicker {
        top: 3px;
        left: 21px;
      }

      .replay-type {
        height: 25px;
        left: 112px;
      }

      .control__right {
        bottom: 73px !important;
      }
    }
  }

  &--replay {
    .toggle-live-replay {
      display: none;
    }
  }

  &--live.screen-container--fullscreen .screen-grid-wrap {
    @include fullscreen();
  }

  &--replay.screen-container--fullscreen {
    @include fullscreen();

    height: 100% !important;
  }
}
