.filter-group {
  width: 250px;

  &__label {
    float: left;
    margin-right: 10px;
  }

  &__in {
    float: right;
    color: $textGrey;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.device-list-wrap {
  .el-card__body {
    padding: 0;
  }
}

/* 分屏下拉框图标 */
.el-dropdown-menu {
  .el-dropdown-menu__screen-icon {
    float: left;
    line-height: 28px;
    margin-right: 5px;
  }

  .el-dropdown-item__active {
    color: $primary;
  }
}

/* 设备列表 */
.device-list {
  position: relative;
  display: flex;
  height: 800px;

  &__wrap {
    min-height: 100px;
  }

  &__empty-text {
    text-align: center;
    color: $textGrey;
    border-top: 1px solid $borderGrey;
    padding-top: 20px;
  }

  &__device-id {
    color: $primary;
  }

  &__handle {
    position: absolute;
    top: 0;
    margin-left: -8px;
    z-index: 100;
    height: 100%;
    width: 8px;
    border-right: 1px solid $borderGrey;
    transition: border 0.1s;
    cursor: ew-resize;

    &:hover {
      border-right-color: #ccc;
    }
  }

  &__left {
    overflow: hidden;
    transition: width 0.2s;

    .dir-list {
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;

      .el-tree-node > .el-tree-node__children {
        overflow: visible;
      }

      &__tools {
        height: 40px;
        border-bottom: 1px solid $borderGrey;
        text-align: right;
        padding-right: 5px;
        background: #fff;

        .el-button--text {
          margin: 0;
          padding: 12px 5px;
          color: $text;
          font-size: 16px;
        }
      }

      &__tree {
        position: relative;
        padding: 10px;
        flex: 1;

        &--root {
          position: relative;
          border-bottom: 1px solid $borderGrey;
          padding: 5px 5px 7px;
          margin-bottom: 5px;
          cursor: pointer;

          &.actived {
            background: #f3f3f3;
          }

          .sum-icon {
            color: $textGrey;
          }
        }

        .polling-button {
          margin-bottom: 10px;
        }

        .el-tree-node__content {
          position: relative;

          &:hover {
            .tools {
              display: block;
            }
          }
        }

        .svg-icon {
          margin-right: 5px;
          color: #6e7c89;
        }

        .svg-icon.export {
          color: #65c465;
        }

        .custom-tree-node {
          width: auto;

          .node-name {
            position: relative;
          }

          &.online .node-name {
            .svg-icon:not(.additional-status) {
              color: #65c465;
            }
          }

          .sum-icon {
            color: $textGrey;
          }

          .alert-type {
            color: $textGrey;
          }

          .status-badge {
            position: absolute;
            top: 1px;
            left: -3px;
            width: 4px;
            height: 4px;
            opacity: 0.7;
            display: none;

            &--on {
              display: block;
            }
          }

          .additional-status {
            position: absolute;
            top: 0;
            left: 12px;
            width: 9px !important;
            height: 9px !important;
          }

          .tools {
            position: absolute;
            top: 0;
            right: 5px;
            display: none;
            background: #f5f7fa;

            .el-button {
              color: $text;
              padding: 5px 0;
            }

            .el-button + .el-button {
              margin-left: -2px;
            }
          }
        }
      }

      &__search {
        padding: 5px;
        border-top: 1px solid #eee;
        display: flex;

        .el-input--suffix .el-input__inner {
          padding-right: 0;
        }

        .el-button--mini {
          padding: 7px;
        }

        &-button {
          margin-left: 5px !important;
        }
      }
    }

    .el-tree {
      flex: 1;
      background: none;
    }
  }

  &__right {
    flex: 1;
    min-width: 0;

    .filter-container__search-group {
      margin-right: 10px;
    }
  }

  &__container {
    height: 100%;
    padding: 15px;
    min-width: 910px;

    .filter-container {
      &__import-button {
        display: inline-block;
        margin-right: 10px;
      }

      .el-button + .filter-container__import-button {
        margin-left: 10px;
      }

      .el-dropdown + .filter-container__import-button {
        margin-left: 10px;
      }

      .el-dropdown + .el-dropdown {
        margin-left: 10px;
      }

      .el-dropdown + .el-button {
        margin-left: 10px;
      }

      &__sync-button {
        svg {
          margin-right: 8px;
        }

        &.loading {
          .svg-icon {
            animation: rotating 1s linear infinite;
          }
        }
      }
    }
  }

  &__expand {
    position: absolute;
    border: none;
    border-radius: 0;
    left: 0;
    top: 0;
    z-index: 21;
    height: 39px;
    border-right: 1px solid $borderGrey;
    font-size: 18px;
    padding: 10px 15px;
    background: #f8f8f8;
  }

  .breadcrumb {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid $borderGrey;
    background: #f8f8f8;
    white-space: nowrap;
    overflow: hidden;
    transition: padding-left 0.2s;

    &__item {
      cursor: pointer;
    }

    &__item:after {
      content: '/';
      color: $textGrey;
      margin: 0 10px;
    }

    &__item:last-child:after {
      content: '';
    }
  }

  .device__tools {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid $borderGrey;
    background: #f8f8f8;
    transition: padding-left 0.2s;

    label {
      margin-left: 10px;
    }

    .el-button {
      color: #5a5e66;
      padding: 0;
    }

    &--right {
      float: right;

      .el-button {
        font-size: 16px;
      }

      .el-dropdown {
        margin-right: 10px;
      }
    }
  }

  &--dragging {
    cursor: ew-resize;

    .device-list__left {
      transition: none;
    }

    * {
      user-select: none;
    }
  }

  &--collapsed {
    .device-list__handle {
      display: none;
    }

    .device-list__left {
      width: 0 !important;
    }

    .breadcrumb {
      padding-left: 70px;
    }

    .device__tools {
      padding-left: 70px;
    }

    .device-list__expand {
      left: 1px;

      i {
        transform: rotate(180deg);
      }
    }
  }

  .device-list__max-height {
    overflow: auto;
  }

  .filter-container__search-group {
    margin-right: 10px;
  }

  .device-list__table {
    .el-table__body {
      td {
        cursor: pointer;
      }

      .col-action,
      .col-selection {
        cursor: default;
      }
    }

    .el-table__column-filter-trigger {
      visibility: hidden;
    }

    .filter {
      cursor: pointer;
    }

    .el-popover__reference-wrapper {
      .el-button {
        margin: 0 10px;
      }
    }
  }

  .device-info {
    background: #f6f6f6;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 5px 15px;
    min-height: 50px;

    .info-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .info-item {
        width: 33%;
        padding: 10px 0;
      }
    }
  }

  /* stylelint-disable-next-line no-invalid-double-slash-comments */
  // 详情页面
  .detail-wrap {
    .detail__buttons {
      border-bottom: 1px solid $borderGrey;
      padding-bottom: 10px;
      margin-bottom: 15px;

      .el-button + .el-button {
        margin-left: 10px;
      }

      .el-dropdown + .el-button {
        margin-left: 10px;
      }
    }

    .detail__section {
      padding-bottom: 15px;
    }

    .detail__title {
      position: relative;
      padding-left: 15px;
      margin: 10px 0;
      font-size: 16px;
      font-weight: bold;

      &:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: $primary;
        width: 6px;
        height: 18px;
      }

      .el-link {
        font-size: 14px;
        margin-left: 10px;
      }
    }

    .el-descriptions {
      &__header {
        margin: 10px 0;
      }

      &-item {
        vertical-align: top;

        &__content {
          word-break: break-all;
        }

        &__label {
          min-width: 100px;
          text-align: right;
          color: $textGrey;
        }
      }

      td {
        padding: 10px 0;
      }

      .el-link {
        margin-left: 10px;
      }
    }

    .el-card {
      margin: 15px 0;

      .el-card__header {
        font-weight: bold;
        padding: 15px 20px;

        .el-link--inner {
          margin-left: 10px;
        }
      }

      .el-card__body {
        padding: 10px;
      }
    }

    .detail__empty-card {
      padding: 5px 15px;
      color: $textGrey;
    }
  }

  @include filter-buttons;
}

/* 拖拽设备列表项样式 */
.custom-tree-node.dragging-node {
  width: auto;
  background: rgba($color: #fff, $alpha: 40%);
  padding: 6px;
  border-radius: 5px;

  .node-name {
    position: relative;
    color: $text;

    .svg-icon {
      color: #6e7c89;
    }
  }

  &.online .node-name {
    .svg-icon {
      color: #65c465;
    }
  }

  .status-badge {
    position: absolute;
    top: -1px;
    left: -3px;
    width: 6px;
    height: 6px;
    opacity: 0.7;
    display: none;

    &--on {
      display: block;
    }
  }

  .playing {
    display: none;
  }
}

.ie .device-list {
  position: static;
}

/* 批量删除列表 */
.batch-list {
  border: 1px solid $borderGrey;
  margin-top: 10px;
  max-height: 50vh;
  overflow: auto;

  p {
    display: flex;
    border-bottom: 1px solid $borderGrey;
    padding: 5px 15px;

    &:last-child {
      border: none;
    }

    .devivce-name {
      flex: 2;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
    }

    .device-id {
      flex: 1;
      text-align: right;
    }
  }
}

.operate-selector-popover {
  min-width: 0;
  padding: 5px;

  &.el-popper[x-placement^='bottom'] {
    margin: 0;
  }
}

script + .el-tooltip__popper {
  max-width: 300px;
  word-break: break-all;
}

/* 创建设备更多选项隐藏展开 */
.form-collapse {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.form-expand {
  max-height: 1000px;
}

.tree-label-poppover {
  padding: 2px;
  min-width: 0;
}

/* 日历样式优化 */
.el-month-table td.today .cell {
  color: rgba(0, 0, 0, 85%);
  font-weight: normal;
}


.node-dir {
  .svg-icon {
    display: none;
    color: #6e7c89;
    
    &:last-child {
      display: inline;
    }
  }
}

.is-expanded > .el-tree-node__content {
  .node-dir {
    .svg-icon {
      display: none;

      &:first-child {
        display: inline;
      }
    }
  }
}

.node-name {
  position: relative;
  color: $text;

  .svg-icon {
    color: #6e7c89;
  }
}