.filter-group {
  width: 300px;
  .el-input--medium .el-input__inner {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
}
.device-list-wrap {
  .el-card__body {
    padding: 0;
  }
}
.device-list {
  position: relative;
  display: flex;

  &__handle {
    position: absolute;
    top: 0;
    margin-left: -8px;
    z-index: 100;
    height: 100%;
    width: 8px;
    border-right: 1px solid $borderGrey;
    transition: border .1s;
    cursor: ew-resize;

    &:hover {
      border-right-color: #ccc;
    }
  }

  &__left {
    overflow: hidden;
    transition: width .2s;

    .dir-list {
      height: 100%;
      display: flex;
      flex-direction: column;
      &__tools {
        height: 40px;
        border-bottom: 1px solid $borderGrey;
        text-align: right;
        padding-right: 5px;
        background: #f8f8f8;
        .el-button--text {
          margin: 0;
          padding: 12px 5px;
          color: $text;
          font-size: 16px;
        }
      }
      &__root {
        border-bottom: 1px solid $borderGrey;
        margin: 0 -10px 5px -10px;
        padding: 0 15px 10px 15px;
        cursor: pointer;
        .svg-icon {
          color: #C0C4CC;
          margin-right: 10px !important;
        }
      }
      &__tree {
        padding: 10px;

        .polling-button {
          margin-bottom: 10px;
        }

        .el-tree-node__content {
          position: relative;
          &:hover {
            .tools {
              display: block;
            }
          }
        }

        .svg-icon {
          margin-right: 5px;
          color: #6e7c89;
        }

        .custom-tree-node {
          width: 100%;
          .node-name {
            position: relative;
          }
          .status-badge {
            position: absolute;
            top: -1px;
            left: -3px;
            width: 6px;
            height: 6px;
            opacity: 0.7;
          }
          .tools {
            position: absolute;
            top: 0;
            display: none;
            background: #F5F7FA;
            .el-button {
              color: $text;
              padding: 5px 0;
            }
            .el-button + .el-button {
              margin-left: 5px;
            }
          }
        }
      }
    }
    .el-tree {
      flex: 1;
      background: none;
    }
  }
  &__right {
    flex: 1;
    overflow: hidden;
    .filter-container__search-group {
      margin-right: 10px;
    }
  }
  &__container {
    padding: 15px;
  }

  &__expand {
    position: absolute;
    border: none;
    border-radius: 0;
    left: 0;
    top: 0;
    z-index: 11;
    height: 39px;
    border-right: 1px solid $borderGrey;
    font-size: 18px;
    padding: 10px 15px;
    background: #f8f8f8;
  }

  .breadcrumb {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid $borderGrey;
    background: #f8f8f8;
    white-space: nowrap;
    overflow: hidden;
    transition: padding-left .2s;
    &__item {
      cursor: pointer;
    }
    &__item:after {
      content: '/';
      color: $textGrey;
      margin: 0 10px;
    }
    &__item:last-child:after {
      content: '';
    }
  }

  .device__tools {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid $borderGrey;
    background: #f8f8f8;
    transition: padding-left .2s;
    label {
      margin-right: 10px;
    }
    .el-button {
      color: #5a5e66;
      padding: 0;
    }
    &--right {
      float: right;
      .el-button {
        font-size: 16px;
      }
    }
  }

  &--dragging {
    cursor: ew-resize;

    .device-list__left {
      transition: none;
    }
    * {
      user-select:none;
    }
  }

  &--collapsed {
    .device-list__handle {
      display: none;
    }
    .device-list__left {
      width: 0px!important;
    }
    .breadcrumb {
      padding-left: 70px;
    }
    .device__tools {
      padding-left: 70px;
    }
    .device-list__expand {
      left: 1px;
      i {
        transform: rotate(180deg);
      }
    }
  }
  .device-list__max-height {
    overflow: auto;
  }
}