.marker-containt {
  position: relative;

  .marker-options {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    left: 61px;
    box-sizing: border-box;
    background-color: #fff;
    height: 40px;
    padding: 12px 18px;

    :after {
      content: '';
      position: absolute;
      top: 16px;
      left: -12px;
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-right: 6px solid #fff;
      border-bottom: 4px solid transparent;
      border-left: 6px solid transparent;
    }
  }

  .marker-options .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .marker-options .icon_delete {
    background: url('~@/icons/svg/delete.svg') no-repeat;
    background-size: contain;
  }

  .marker-label {
    display: block;
    position: absolute;
    bottom: -10px;
    font-size: 12px;
    text-align: center;
    width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// 摄像头标记点样式
.marker-camera {
  width: 65px;
  height: 65px;
  text-align: center;
  padding: 8px;
  box-sizing: content-box;

  &.selected {
    border: 1px solid $primary;
    background-color: rgba(250, 131, 52, 35%);
    border-radius: 100%;
  }

  .icon-camera {
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 30px;
    width: 24px;
  }

  .marker-options .icon-wrap {
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin-right: 12px;
  }

  .marker-options .icon-wrap:last-child {
    margin-right: 0;
  }

  .marker-options .icon {
    width: 16px;
    height: 16px;
  }

  .marker-options .off .icon {
    position: relative;
    left: -16px;
    filter: drop-shadow(#ccc 16px 0);
  }

  .marker-options .icon_preview {
    background: url('~@/icons/svg/camera-play.svg') no-repeat;
    background-size: contain;
  }

  .marker-options .icon_replay {
    background: url('~@/icons/svg/camera-back.svg') no-repeat;
    background-size: contain;
  }
}

// 兴趣点标记样式
.marker-bubblePoint {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;

  .marker-options {
    top: 0;
    left: 67px;
    display: none;
  }

  .icon-interest {
    display: inline-block;
    width: 30px;
    height: 30px;
  }

  &.selected {
    background: rgba(250, 131, 52, 48%);
    border: 1px solid #fa8334;
    border-radius: 50%;

    .marker-options {
      display: block;
    }
  }

  .marker-label {
    display: block !important;
  }
}

// 文本兴趣点标记样式
.marker-textPoint {
  height: 52px;
  font-size: 18px;
  color: #333;
  width: 180px;
  text-align: center;

  .text-wrap {
    display: inline-block;
    height: 100%;
    line-height: 52px;
    background: transparent;
    border: none;
    padding: 0 30px;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-shadow: 2px 2px 5px #fff;
  }

  .marker-options {
    display: none;
    top: 6px;
    left: auto;
  }

  &.selected .text-wrap {
    background: rgba(250, 131, 52, 48%);
    border: 1px solid #fa8334;
    border-radius: 25px;
    text-shadow: none;
  }

  &.selected .marker-options {
    display: inline-block;
  }
}

.hide-title .marker-label {
  display: none;
}

.in-add .marker-bubblePoint.selected .marker-options,
.in-add .marker-textPoint.selected .marker-options {
  display: none;
}

.amap-marker-label {
  visibility: hidden;
  background-color: #fff;
  border: none;
}

.amap-marker:hover .amap-marker-label {
  visibility: visible;
}

.amap-marker.selected {
  z-index: 13 !important;
}

.marker-icon {
  width: 20px;
}

.amap-marker .index-cluster {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: $primary;
  color: #fff;
  border-radius: 100%;
  text-align: center;

  .showName,
  .showCount {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    font-size: 12px;
  }

  .showCount {
    margin-top: 4px;
  }
}
