.marker-containt {
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;

  .marker-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: orange;
    opacity: 0.3;
    border-radius: 50%;
  }
  .marker-label {
    display: block;
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    max-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .marker-center {
    position: absolute;
    width: 20px;
    top: 0;
    left: 20px;
  }
  .marker-wrap {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(217, 0, 27, 1);
    background-color: rgba(217, 0, 27, 0.0745098039215686);
    padding: 5px;
  }
  .marker-options {
    text-align: right;
  }
  .marker-options .icon-wrap {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin-right: 5px;
  }
  .marker-options .icon-wrap:last-child {
    margin-right: 0;
  }
  .marker-options .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .marker-options .off .icon {
    position: relative;
    left: -20px;
    filter: drop-shadow(#ccc 20px 0);
  }

  .marker-options .icon_delete {
    background: url('~@/icons/svg/delete.svg') no-repeat;
    background-size: contain;
  }
  .marker-options .icon_preview {
    background: url('~@/icons/svg/player.svg') no-repeat;
    background-size: contain;
  }
  .marker-options .icon_replay {
    background: url('~@/icons/svg/play-video.svg') no-repeat;
    background-size: contain;
  }
}
.hide-title .marker-label {
  display: none;
}

.amap-marker-label {
  visibility: hidden;
  background-color: #fff;
  border: none;
}
.amap-marker:hover .amap-marker-label {
  visibility: visible;
}

.amap-marker.selected {
  z-index: 13 !important;
}
.marker-icon {
  width: 20px;
}

.amap-marker .index-cluster {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(17, 118, 191, 65%);
  color: #fff;
  border-radius: 100%;
  text-align: center;

  .showName,
  .showCount {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    font-size: 12px;
  }

  .showCount {
    margin-top: 4px;
  }
}

// 摄像头标记点样式
.marker-camera {
  position: relative;
  width: 40px;
  height: 65px;
  background: url('~@/icons/svg/camera_blue_bg.svg') no-repeat;
  background-size: contain;

  &.selected {
    background: url('~@/icons/svg/camera_orange_bg.svg') no-repeat;
    background-size: contain;
  }

  .icon-camera {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 24px;
    height: 24px;
    background: url('~@/icons/svg/camera.svg') no-repeat;
    background-size: contain;
  }

  .marker-label {
    display: block;
    position: absolute;
    bottom: -10px;
    font-size: 12px;
    text-align: center;
    width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .marker-options {
    position: absolute;
    top: 0;
    right: 20px;
    box-sizing: border-box;
    background-color: #fff;
    height: 40px;
    padding: 12px;
    :after {
      content: '';
      position: absolute;
      top: 14px;
      left: -12px;
      display: inline-block;
      width: 0;
      height: 0;
      border: 12px solid transparent;
      border-right: 12px solid #fff;
    }
  }

  .marker-options .icon-wrap {
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin-right: 5px;
  }
  .marker-options .icon-wrap:last-child {
    margin-right: 0;
  }
  .marker-options .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
  }
  .marker-options .off .icon {
    position: relative;
    left: -16px;
    filter: drop-shadow(#ccc 16px 0);
  }

  .marker-options .icon_delete {
    background: url('~@/icons/svg/delete.svg') no-repeat;
    background-size: contain;
  }
  .marker-options .icon_preview {
    background: url('~@/icons/svg/player.svg') no-repeat;
    background-size: contain;
  }
  .marker-options .icon_replay {
    background: url('~@/icons/svg/play-video.svg') no-repeat;
    background-size: contain;
  }
}
