// @import './variables.scss'; // Already imported in style-resources-loader
// @import './mixins.scss'; // Already imported in style-resources-loader
@import './transition.scss';
@import './svgicon.scss';
@import './element-override.scss';
@import './margin.scss';

/* Global scss */

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Microsoft YaHei",'PingFang SC', "Helvetica Neue", Helvetica, arial, STHeiTi, sans-serif;
  font-size: 14px;
  background: #f9f9f9;
}

html {
  height: 100%;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
}

a {
  color: $primary;
}

a:focus,
a:hover {
  color: #fb9c5d;
}

div:focus {
  outline: none;
}

.clearfix {
  @include clearfix;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app-container {
  padding: 20px;
  flex: 1;
}

.pull-right {
  float: right;
}

.filter-container {
  margin-bottom: 10px;
  &__left {
    float: left;
  }
  &__right {
    float: right;
  }
  &__search-group {
    width: 300px;
  }
}

.info-list {
  display: flex;
  padding: 5px 0;
  align-items: center;

  &--key {
    min-width: 100px;
    color: $textGrey;
  }
}

.form-with-tip {
  margin-bottom: 35px;
}

.form-tip {
  color: $textGrey;
  font-size: 12px;
  line-height: 1;
  padding-top: 6px;
  position: absolute;
  top: 100%;
  left: 0;
}

.el-form-item.is-error {
  .form-tip {
    display: none;
  }
}